body {
    margin: 0;
}
header{
    background: #03a9f4;
    text-align: center
}
header input{
    font-size:20px;
    margin: 20px 0;
}
.logo{
    color: aliceblue;
    font-size: 42px;
    font-family: 'Anton'
}
